.btn-modal {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #0ec487;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
}

.btn-modal:hover {
  border: 1px solid #0ec487;
  background-color: #fff;
  color: #0ec487;
}

.myModal {
  display: flex;
  border: 1px solid #ccc;
  padding: 1rem 1.5rem;
  border-radius: 0.3rem;
  margin: 1rem 0;
}
