.btn-modal {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #0ec487;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
}

.btn-modal:hover {
  border: 1px solid #0ec487;
  background-color: #fff;
  color: #0ec487;
}

.section {
  padding: 1.5rem;
}

.myModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transition: all ease-in-out 0.4s;
}

.show {
  display: block;
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 0.5rem;
  margin: 15% auto;
  padding: 2rem;
  width: 80%;
}
