<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
<body>
  <p>Dear <%= @user.name %>,</p>
  
  <p>Someone has requested to reset your password for your account on Blog. If you didn't make this request, you can safely ignore this email.</p>
  
  <p>To reset your password, please follow these steps:</p>
  
  <ol>
    <li>Click on the following link to begin the password reset process:<br>
      <%= link_to 'reset password', edit_password_reset_url(@user.password_reset_token) %>
    </li>
    
    <li>You will be directed to a secure page where you can verify your identity.</li>
    
    <li>After verifying your identity, you'll be able to create a new password for your account.</li>
  </ol>
  
  <p>Please note the following:</p>
  
  <ul>
    <li>This link is temporary and will expire within 1 hours for security reasons.</li>
  </ul>
  
  <p>Thank you for using Blog.</p>
</body>
</html>