.form {
  padding: 2rem;
  font-size: 1.6rem;
}

.form-label {
  width: 100%;
  display: inline-block;
  margin: 0.8rem 0;
}

.form-control {
  width: 100%;
  display: block;
  padding: 1.2rem 2rem;
  border: 1px solid #f2f2f2;
  border-radius: 0.5rem;
  outline: none;
}

.form-control:focus {
  border: 2px solid #555;
}

.btn {
  background-color: #0d6efd;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  padding: 1.2rem 2rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  color: #0d6efd;
  border: 1px solid #0d6efd;
}
