.text {
  color: blueviolet;
}

.nav-link {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  transition: all, 0.2s;
}

.nav-link:hover {
  text-decoration: underline;
  color: blue;
}