.post {
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  margin: 1.5rem 0;
}

.btn {
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}
